html{
  height:100%;
  width:100%;
}
body{
  margin:0;
  padding:0;

  height:100%;
  width:100%;
  background-image:url(files/b_l.jpg);
  background-repeat:no-repeat;
	background-position:top center;
	background-size:cover;
}
#maintext{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.imagebox{
}
#buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#logo{
  width: 22%;
}
#portfolio{
  width: 33%;
}
#contact{
  width: 25.5%;
}
#instagram{
  width: 30.5%;
}
.bigbox{
}
.smallbox{
  flex: 1 1 auto;
}
